<main>
    <!------ LOCKED FORM ------------------------------------------------>

    <div *ngIf="locked" class="page-header wow fadeIn">
        <h2>{{ 'CLIENT-DASHBOARD.LOCKED-TITLE' | translate }}</h2>
        <p class="subtitle form-subtitle">{{ 'CLIENT-DASHBOARD.LOCKED-SUBTITLE' | translate }}</p>

        <div class="locked-container">
            <div class="input-icon">
                <input type="{{ showPassword ? 'text' : 'password' }}" [class.form-error]="errorFormPwd" class="input" [(ngModel)]="passwordValue" (ngModelChange)="onPasswordChange($event)"
                [placeholder]="'CLIENT-DASHBOARD.INPUT-PLACEHOLDER' | translate" autofocus>
                <div (click)="toogleShowPassword()" class="icon-right">
                    <img *ngIf="showPassword" src="../../assets/icons/eye.svg">
                    <img *ngIf="!showPassword" src="../../assets/icons/eye2.svg">
                </div>
                <p *ngIf="errorFormPwd" class="text-error">{{ 'CLIENT-DASHBOARD.INVALID-PWD' | translate }}</p>
            </div>
            <button (click)="getClientWithProjects()">
                <span *ngIf="!spinnerDisplay">{{ 'CLIENT-DASHBOARD.BTN-SEND' | translate }}</span>

                <div *ngIf="spinnerDisplay" class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </button>
        </div>
    </div>

    <!------ DASHBOARD ------------------------------------------------> 

    <div *ngIf="!locked && client && projects" class="wow fadeIn client-page">

        <!------ Header ------>

        <div class="client-header">
            <h2>{{ 'CLIENT-DASHBOARD.CLIENT-HEADER-TITLE' | translate }}</h2>
            <div class="client-stats">
                <div class="client-stat">
                    <img src="../../assets/icons/folder.svg">
                    <p><b>{{ projects.length }}</b>
                        <span *ngIf="projects.length > 1">
                            {{ 'CLIENT-DASHBOARD.CLIENT-STAT-NBPROJECTS' | translate }}
                        </span>
                        <span *ngIf="projects.length == 1">
                            {{ 'CLIENT-DASHBOARD.CLIENT-STAT-NBPROJECT' | translate }}
                        </span>
                    </p>
                </div>
                <div class="client-stat">
                    <img src="../../assets/icons/clock.svg">
                    <p>{{ 'CLIENT-DASHBOARD.CLIENT-STAT-SINCE' | translate }} 
                        <b>{{ client.start_date | date: 'MMMM y':undefined:lang | titlecase }}</b>
                    </p>
                </div>
            </div>
        </div>

        <div class="separator separator-client"></div>
        
        <!------ Project lists ------>

        <div class="client-projects-links">
            <a *ngFor="let project of projects; let i = index" [class.link-flash]="projectIndex == i" (click)="changeIndexProject(i)">{{ project.attributes.title }}</a>
        </div>

        <div class="separator separator-client"></div>

        <div *ngFor="let project of projects; let i = index">
            <div *ngIf="i == projectIndex">

                <!------ Project header ------>

                <div class="box client-box-header">
                    <p class="subtitle">
                        <b>{{ 'CLIENT-DASHBOARD.CLIENT-HEADER-GOAL' | translate }} :</b> 
                        {{ project.attributes.subtitle }}
                    </p>
                    <div>
                        <span *ngIf="project.attributes.start_date && !project.attributes.end_date" class="tag"><b>{{ 'CLIENT-DASHBOARD.CLIENT-HEADER-DATE' | translate }} : </b>
                            {{ project.attributes.start_date | date:undefined:undefined:lang }}
                        </span>
                        <span *ngIf="project.attributes.end_date" class="tag">
                            {{ project.attributes.start_date | date:undefined:undefined:lang }} - 
                            {{ project.attributes.end_date | date:undefined:undefined:lang }}
                        </span>
                        <div *ngIf="project.attributes.status">
                            <span *ngIf="project.attributes.status == 'waiting'" class="tag">
                                {{ 'CLIENT-DASHBOARD.CLIENT-HEADER-WAITING' | translate }}
                            </span>
                            <span *ngIf="project.attributes.status == 'doing'" class="tag">
                                {{ 'CLIENT-DASHBOARD.CLIENT-HEADER-DOING' | translate }}
                            </span>
                            <span *ngIf="project.attributes.status == 'done'" class="tag">
                                {{ 'CLIENT-DASHBOARD.CLIENT-HEADER-DONE' | translate }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="client-container">

                    <!------ Project progress box ------>

                    <div class="client-container-left box">
                        <div class="client-box-flex">
                            <h3>{{ 'CLIENT-DASHBOARD.CLIENT-BOX-PROGRESS' | translate }}</h3>
                            <p class="subtitle">
                                <span *ngIf="lang == 'fr'">
                                    {{ 'CLIENT-DASHBOARD.CLIENT-BOX-STEPS' | translate }}
                                </span>
                                {{ getProjectSteps(project) }} 
                                <span class="special-span-2">/</span>
                                {{ project.attributes.progress.length }}
                                <span *ngIf="lang == 'en'">
                                    {{ 'CLIENT-DASHBOARD.CLIENT-BOX-STEPS' | translate }}
                                </span>
                            </p>
                        </div>
                        <div class="separator"></div>

                        <div class="client-box-progress">
                            <div class="client-progress-bar-container">
                                <div class="progress-bar"></div>
                            </div>
                            <div class="client-box-steps">
                                <div class="client-box-step" *ngFor="let step of project.attributes.progress; let i = index; let last = last">
                                    <p class="paragraph paragraph-title">{{ step.title }}</p>
                                    <p class="paragraph">{{ step.description }}</p>
                                    <div class="tag"><b>{{ 'CLIENT-DASHBOARD.CLIENT-BOX-PROGRESS-ESTIMATED' | translate }} : </b>{{ step.estimated_time }}
                                        <span *ngIf="step.estimated_time == 1">{{ 'CLIENT-DASHBOARD.CLIENT-BOX-PROGRESS-DAY' | translate }}</span>
                                        <span *ngIf="step.estimated_time > 1">{{ 'CLIENT-DASHBOARD.CLIENT-BOX-PROGRESS-DAYS' | translate }}</span>
                                    </div>
                                    <div class="step" [class.step-done]="step.status == 'done'" [class.step-doing]="step.status == 'doing'">
                                        <span *ngIf="step.status == 'waiting'">{{ i + 1 }}</span>
                                        <span *ngIf="step.status == 'doing'">
                                            <img src="../../assets/icons/doing.svg">
                                        </span>
                                        <span *ngIf="step.status == 'done'">
                                            <img src="../../assets/icons/check.svg">
                                        </span>
                                    </div>
                                    <div *ngIf="step.status == 'done'" class="progress-bar-done"></div>
                                    <div *ngIf="last" class="progress-bar-cache"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="client-container-right">
                        <!------ Project links box ------>

                        <div *ngIf="project.attributes.links.length > 0" class="box">
                            <h3>{{ 'CLIENT-DASHBOARD.CLIENT-BOX-LINKS' | translate }} 
                                <span>({{ project.attributes.links.length }})</span>
                            </h3>
                            <div class="separator"></div>
                            <div class="client-box-items">
                                <a *ngFor="let link of project.attributes.links" [href]="link.url" target="_blank" rel="noopener">
                                    <p class="subtitle">{{ link.name }}</p>
                                    <img src="../../assets/icons/arrow-right.svg">
                                </a>
                            </div>
                        </div>

                        <!------ Project documents ------>

                        <div class="box">
                            <h3>{{ 'CLIENT-DASHBOARD.CLIENT-BOX-DOCUMENTS' | translate }} 
                                <span>({{ project.attributes.documents.length }})</span>
                            </h3>
                            <div class="separator"></div>
                            <div class="client-box-items">
                                <a *ngFor="let document of project.attributes.documents" [href]="'https://api.maximilien.work' + document.file.data.attributes.url" target="_blank" rel="noopener">
                                    <p class="subtitle">{{ document.name }} <span *ngIf="document.number">#{{ document.number }}</span></p>

                                    <div class="client-box-items-right">
                                        <div *ngIf="document.status == 'waiting'" class="tag">
                                            {{ 'CLIENT-DASHBOARD.ClIENT-BOX-DOCUMENTS-STATUS-WAITING' | translate }}
                                        </div>
                                        <div *ngIf="document.status == 'paid'" class="tag">
                                            {{ 'CLIENT-DASHBOARD.ClIENT-BOX-DOCUMENTS-STATUS-PAID' | translate }}
                                        </div>
                                        <img src="../../assets/icons/arrow-right.svg">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>