<main>
  <div class="page-header wow fadeIn">
    <h2>{{ 'PROJECT.TITLE' | translate }}</h2>
    <p class="subtitle">{{ 'PROJECT.SUBTITLE' | translate }}</p>
  </div>

  <div class="all-rea-work">
    <div *ngFor="let work of component_all_work" class="big-box-content">
      <div class="box-realisation wow fadeIn" (click)="join(work.url)" style="position: relative !important">
        <div class="overlay rea-box-desktop">
          <p class="text-overlay paragraph">{{ 'PROJECT.BOX-HOVER' | translate }}</p>
        </div>
        <img [src]="work.img_preview" class="img-box" style="border-radius: 0.5rem;" [alt]="work.url">
      </div>
      <h4 (click)="join(work.url)" style="margin-top: 1.25rem;">{{ work.title_preview }}</h4>
      <p *ngIf="lang == 'fr' || lang == 'FR'" class="subtitle">{{ work.subtitle_fr }}</p>
      <p *ngIf="lang == 'en' || lang == 'EN'" class="subtitle">{{ work.subtitle_en }}</p>

      <a (click)="join(work.url)" class="link-flash">{{ 'HOME.PART-3.BOX-HOVER' | translate }} ></a>
    </div>
  </div>
</main>
