<nav>
  <a routerLink="home" class="wow fadeIn link-flash">< Retour</a>
</nav>

<main>
  <h2 class="wow fadeIn" style="margin:50px 0px 50px 0px !important">Toutes les réalisations</h2>

  <div class="all-rea-work">
    <div *ngFor="let work of component_all_work">

      <div class="box-realisation wow fadeIn" (click)="join(work.url)" style="position: relative !important; height: 100%;">
        <div class="overlay rea-box-desktop">
          <p class="text-overlay paragraph">Cliquez pour plus d'infos</p>
        </div>
        <img [src]="work.img_preview" class="img-box" style="border-radius: 8px;" [alt]="work.url">
        <a (click)="join(work.url)" class="link-work-mobile rea-box-mobile">
          <img src="../../assets/icons/infos.svg" style="height: 23px; margin-top: 7px; margin-left: 7px;" class="icon-color">
        </a>
      </div>

    </div>
  </div>
</main>