<a routerLink="home" class="wow fadeIn link-flash go-back">< Retour</a>

<main>
  <div *ngFor="let work of component_all_work">
    <div *ngIf="work.url == url">
      <img *ngIf="checkIfOneImage(work.all_img) == true" [src]="work.img1" class="detail-img wow fadeIn">

      <div *ngIf="!checkIfOneImage(work.all_img)">

        <ngx-glide #ngxGlide type="carousel" [showArrows]="false" [gap]="20" [perView]="1" [showBullets]="false" [peek]="{ before: 0, after: 100 }" [breakpoints]="this.breakpoints">
          <div *ngFor="let img of work.all_img">
            <img [src]="img" class="detail-img wow fadeIn" [alt]="work.url">
          </div>
        </ngx-glide>

        <div style="display: flex; justify-content: space-between; margin-top: 20px; align-items: center;">
          <a [href]="work.link" class="link-flash" target="_blank">Plus d'infos ></a>
          <div style="display: flex;">
            <a (click)="back()" class="arrow"><</a>
            <a (click)="next()" class="arrow" style="margin-left: 5px;">></a>
          </div>
        </div>

        <p style="margin-top: 25px;" class="wow fadeIn">{{ work.description}}</p>
      </div>

      <div *ngIf="checkIfOneImage(work.all_img)">
        <p style="margin-top: 25px;" class="wow fadeIn">{{ work.description}}</p>
        <div *ngIf="work.link != ''" style="margin-top: 20px;" class="wow fadeIn">
        <a [href]="work.link" class="link-flash" target="_blank">Plus d'infos ></a>
        </div>
      </div>
    </div>
  </div>
</main>