<main>
    <div class="page-header wow fadeIn">
      <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
      <p class="subtitle">{{ 'CONTACT.SUBTITLE' | translate }}</p>
    </div>
    <div class="input-container wow fadeIn">
        <div class="name-email-container">
          <div>
            <label for="full_name">Full name</label>
            <input name="full_name" type="text" placeholder="Full name">
          </div>
          <div>
            <label for="email">Email</label>
            <input name="email" type="email" placeholder="Email">
          </div>
        </div>

        <label for="message">Message</label><br>
        <textarea name="message" cols="30" rows="10" placeholder="Your message.."></textarea>

        <button>Send</button>
      </div>
</main>
