<main class="wow fadeIn">
  
    <!------ HEADER ------------------------------------------------>

    <div class="page-header">
      <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
      <p class="subtitle">{{ 'CONTACT.SUBTITLE' | translate }}</p>
    </div>

    <!------ FORM ------------------------------------------------>

    <form action="https://submit-form.com/2UXU5Lf3" method="POST" class="contact-container">
      <input type="hidden" name="_redirect" value="https://www.maximilien.work/contact/success"/>
      <div class="input-container">
        <div class="name-email-container">
          <div>
            <label for="full_name">{{ 'CONTACT.FULL-NAME' | translate }}</label>
            <input name="full_name" type="text" [placeholder]="'CONTACT.FULL-NAME' | translate" required>
          </div>
          <div>
            <label for="email">Email</label>
            <input name="email" type="email" placeholder="Email" required>
          </div>
        </div>

        <label for="message">Message</label><br>
        <textarea name="message" [placeholder]="'CONTACT.MESSAGE' | translate" required></textarea>

        <button>{{ 'CONTACT.BUTTON' | translate }}</button>
      </div>

      <!------ SOCIALS CONTAINER ------------------------------------------------>

      <div class="right-box-container">
        <div class="subtitle">{{ 'CONTACT.PARAGRAPH' | translate }}</div>
        <div class="socials-container">
          <a href="https://www.linkedin.com/in/maximilien-zimmermann/" target="_blank" rel="noopener">
            <div class="box">
              <div class="left-box">
                <img src="../../assets/icons/linkedin.svg" alt="linkedin-icon">
              </div> Linkedin
            </div>
          </a>
          <a href="https://github.com/maximilien0405" target="_blank" rel="noopener">
            <div class="box">
              <div class="left-box">
                <img src="../../assets/icons/github.svg" alt="github-icon">
              </div>Github
            </div>
          </a>
          <a href="https://www.behance.net/max-zim" target="_blank" rel="noopener">
            <div class="box">
              <div class="left-box">
                <img src="../../assets/icons/behance.svg" alt="behance-icon">
              </div>
              Behance
            </div>
          </a>
          <a href="https://medium.com/@maximilien.z" target="_blank" rel="noopener">
            <div class="box">
              <div class="left-box">
                <img src="../../assets/icons/medium.svg" alt="medium-icon">
              </div>
              Medium
            </div>
          </a>
        </div>
      </div>
    </form>
</main>
