/* ---------------------------------------------------
  RESPONSIVE
----------------------------------------------------- */

@media (max-width: 508px) {
  html {
    font-size: 14.5px !important;
  }

  h1 {
    font-size: 3.125rem !important;
  }

  header {
    margin-top: 5rem !important;
  }

  .icons-box {
    display: none !important;
  }

  body .socials-container {
    grid-template-columns: 1fr !important;
    gap: 0.9375rem !important;
  }


  .rea-link-desktop {
    display: none !important;
  }

  .all-rea-work {
    grid-template-columns: 1fr !important;
  }

  .hamburger {
    display: block !important;
  }

  .name-email-container {
    grid-template-columns: 1fr !important;
  }

  .nav-links {
    display: none;
  }

  .mobile-icons {
    display: flex !important;
  }
}

@media (min-width: 508px) {
  .rea-link-mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  .link-work-mobile {
    display: none;
  }
}

@media (max-width: 792px) {
  .all-rea-work {
    grid-template-columns: 1fr !important;
  }

  .contact-container {
    flex-direction: column !important;

    .input-container {
      width: 100%;
    }

    .right-box-container {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  body {
    margin-bottom: 1.5625rem !important;
  }

  nav {
    width: 100%;
    height: 4.0625rem;
    margin-top: 0.625rem !important;
  }

  .language-box {
    top: 4.0625rem !important;
    right: 1.5625rem !important;
  }

  .pdp {
    margin: 0 auto;
    margin-top: 4.125rem !important;
  }

  header {
    flex-direction: column;

    div {
      width: 100%;
      margin: 0 auto;
      text-align: center;

      a {
        margin: 0 auto;
      }
    }
  }

  .container {
    width: 100%;
    padding-right: 1.5625rem !important;
    padding-left: 1.5625rem !important;
  }

  .rea-box-desktop {
    display: none !important;
  }

  .all-box-services {
    grid-template-columns: 1fr !important;
  }

  .page-header h2 {
    margin: 3.25rem 0rem 1.25rem 0rem;
  }

  .link-work-mobile {
    display: flex;
    align-items: center;
  }
}

/* ---------------------------------------------------
  MOBILE SIDEBAR
-----------------------------------------------------  */

.mobile-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 10000;
  overflow-x: hidden;
  transition: all 0.5s;
  position: fixed;
}

.icons-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5625rem;
  padding-right: 1.5625rem !important;
  padding-left: 1.5625rem !important;

  a {
    width: 3rem;
    height: 3rem;
    text-align: center !important;
    justify-content: center;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--white) !important;
    border: 0.0625rem solid var(--border-color) !important;
    border-radius: 0.3125rem;
    transition: 200ms all;

    &:hover {
      border: 0.0625rem solid var(--border-hover) !important;
    }

    &::selection {
      background-color: transparent !important;
    }
  }

  img {
    width: 1.3625rem;
    height: 1.3625rem;
    filter: var(--icon-dark);
  }
}

.mobile-text {
  padding: 2.1875rem;
  display: flex;
  flex-direction: column;
  text-align: center !important;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5625rem;

  span {
    font-weight: 700;
    font-size: 3rem;
    left: 0;
    margin-right: -0.8rem;
    margin-top: 1.25rem;
    color: var(--special-span) !important;
  }

  .special-item {
    margin-top: 0rem !important;
  }

  a {
    width: 100%;
    font-family: "Lora";
    color: var(--light-black);
  }

  .separator-item {
    transition: all 0.3s;
    width: 100%;
    padding: 0rem 2rem 0rem 2rem;
    margin: 1.25rem 0rem 1.25rem 0rem;
  }

  .separator {
    max-width: 18.4375rem !important;
    background-color: var(--border-color);
    height: 0.0625rem;
    margin: 0 auto;
  }

  .item-navbar {
    color: var(--black);
    line-height: 5.625rem;
    font-size: 1.45rem;
  }
}

/* ---------------------------------------------------
  NAVBAR
-----------------------------------------------------  */

nav {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  transition: 200ms all;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  align-items: center;

  .link {
    margin-left: 1.5625rem;
    color: var(--light-black);
    cursor: pointer;
    transition: 200ms all;

    &:first-child {
      margin: 0 !important;
    }

    &:hover {
      color: var(--black);
    }
  }

  h2 {
    margin: 0rem;
  }
}

.icons-box {
  display: flex;

  img {
    cursor: pointer;
    width: 1.5625rem;
    height: 1.5625rem;
    transition: all 0.2s;
    filter: var(--icon-gray);

    &:hover {
      filter: var(--icon-hover);
    }
  }
}

.nav-selected {
  font-weight: 500;
  color: var(--black) !important;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: var(--black);
  padding: 1.5rem 0rem 1.25rem 1.25rem;

  img {
    width: 1.5625rem;
    height: 1.5625rem;
    filter: var(--icon-dark);
  }
}

.language-box {
  position: absolute;
  padding: 0.625rem 0.9375rem;
  right: 0rem;
  top: 3.125rem;
  z-index: 1000;
  background-color: var(--white);
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--border-color);
  display: flex;
  flex-direction: row;
  box-shadow: 0rem 0.5rem 0.625rem rgba(0, 0, 0, 0.04);

  a {
    padding: 0px 0px;
    cursor: pointer;

    &:hover {
      color: var(--black);
    }
  }
}

.bold {
  color: var(--black);
  font-weight: 500;
}

/* ---------------------------------------------------
  HEADER
-----------------------------------------------------  */

header {
  margin-top: 8.125rem;
  display: flex;
  justify-content: space-between;

  .subtitle {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    color: var(--light-black);
  }

  div {
    max-width: 28.125rem;
  }

  .box {
    padding: 0.875rem 1.875rem 0.875rem 1.875rem !important;
    width: fit-content;
  }
}

.pdp {
  margin-top: 0.9375rem;
  height: 18.75rem;
  width: 19.0688rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.5rem 1.875rem rgba(0, 0, 0, 0.15);
}


.category-links {
  margin-top: 1.875rem !important;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  gap: 20px;

  a {
    color: var(--light-black);
    cursor: pointer;
  }

  .link-flash {
    color: var(--black) !important;
  }

  a:hover {
    color: var(--black);
  }
}

/* ---------------------------------------------------
  SERVICES
----------------------------------------------------- */

.all-box-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;

  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5625rem;

    &:hover {
      cursor: initial;
    }
  }

  .subtitle {
    margin-top: 0.9375rem;
  }
}

/* ---------------------------------------------------
  REALISATIONS
----------------------------------------------------- */


.all-rea-work {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 4rem;

  img {
    height: 100%;
  }

  .subtitle {
    margin: 0.625rem 0rem;
  }
}

.box-realisation {
  display: flex;
  position: relative;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--white);
  border-radius: 0.5rem;
  transform: all 250ms;
  flex-direction: column;
  transition: 200ms all;
  box-shadow: 0rem 0.5rem 0.625rem rgba(0, 0, 0, 0.04);
  cursor: pointer;

  .img-box {
    border-radius: 0.5rem;
  }

  .subtitle {
    padding: 0rem 0rem 0rem 0rem !important;
  }

  .img-box {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  img:hover + .overlay {
    display: block !important;
  }

  &:hover {
    border: 0.0625rem solid var(--border-hover);
  }
}

.big-box-content:hover .overlay {
  opacity: 1;
}

.box-realisation:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.288);
  border-radius: 0.5rem;
}

.text-overlay {
  color: #ffffff !important;
  font-size: 1.15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  &::selection {
    background-color: transparent !important;
  }
}

.box-mobile:hover {
  cursor: unset !important;
  border: 0.0625rem solid var(--border-color) !important;
}

/* ---------------------------------------------------
  WORK DETAIL
-----------------------------------------------------*/

.detail-img {
  margin-top: 3.125rem;
  width: 100%;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.5rem;
}

.go-back {
  margin: 6.25rem 0rem 6.25rem 0rem;
}

.work-header {
  h2 {
    margin-top: 3.125rem;
    margin-bottom: 0px;
  }

  .subtitle {
    margin: 1.0625rem 0rem;
  }

  a {
    margin-right: 1.4375rem;
  }
}

.link-work-mobile {
  position: absolute;
  bottom: 0.9375rem;
  left: 0.9375rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--white);
  border-radius: 0.375rem;
  border: 0.0625rem solid var(--border-color);
  cursor: pointer;
}

/* ---------------------------------------------------
  CONTACT
-----------------------------------------------------*/

.socials-container {
  margin-top: 1.875rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1.25rem;

  a {
    font-weight: 400 !important;
  }
  .box {
    padding: 1.125rem;
  }
}

.left-box {
  display: flex;
  align-items: center;
  margin-right: 0.9375rem;

  img {
    height: 2rem;
    width: 2rem;
    filter: var(--icon-dark);
  }
}

/* ---------------------------------------------------
  CONTACT PAGE
----------------------------------------------------- */

label {
  color: var(--light-black);
}

.name-email-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

input,
textarea {
  font-size: 0.9rem;
  width: 100%;
  padding: 0.9375rem;
  border: 0.0625rem solid var(--border-color);
  background-color: var(--white);
  border-radius: 0.5rem;
  transform: all 250ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
  transition: 200ms all;
  box-shadow: 0rem 0.5rem 0.625rem rgba(0, 0, 0, 0.04);
  color: var(--light-black);

  &:hover {
    border: 0.0625rem solid var(--border-hover);
  }

  &:focus {
    outline: none;
    border-color: var(--border-hover);
  }
}

textarea {
  resize: none;
  height: 12.7875rem;
}

.input-container {
  width: 65%;

  label {
    margin-top: 0.625rem !important;
  }
}

.contact-container {
  display: flex;
  flex-direction: row;
}

.right-box-container {
  width: 35%;
  padding-left: 2.5rem;
  margin-left: 2.5rem;
  border-left: 0.0625rem solid var(--border-color);
}

/* ---------------------------------------------------
  FOOTER
----------------------------------------------------- */

footer {
  display: flex;
  flex-direction: column;

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.875rem !important;
    align-items: center;
  }

  .separator {
    margin-top: 1.25rem !important;
  }
}

footer .nav-links {
  a {
    margin-left: 0.9375rem;
    color: var(--light-black);
    transition: 200ms all;

    &:hover {
      color: var(--black);
    }
  }
}

.mobile-icons {
  display: none;

  img {
    margin-left: 0.3125rem;
    height: 1.875rem;
    width: 1.875rem;
    filter: var(--icon-dark);
  }
}
