<!------ MOBILE SIDEBAR -------------------------------------------->

<div *ngIf="mobileSidebar" class="mobile-sidebar">
  <div class="icons-container">
    <div style="display: flex;">
      <a (click)="toggleDarkTheme()"><img src="../assets/icons/theme-dark.svg" alt="theme-dark-icon"></a>
      <a style="margin-left: 0.9375rem;"><img src="../assets/icons/language.svg" alt="language-icon"></a>
    </div>
    <a (click)="closeNav()"><img src="../assets/icons/close.svg" alt="close-icon"></a>
  </div>


  <div class="mobile-text">
    <a (click)="closeNav()" id="01" href="#nav" class="item-navbar selected special-item" style="margin-top: 80px !important;"><span>01</span>Accueil</a>
    <div class="separator-item">
        <div class="separator"></div>
    </div>

    <a (click)="closeNav()" id="02" href="#services" class="item-navbar selected special-item"><span>02</span>Services</a>
    <div class="separator-item">
        <div class="separator"></div>
    </div>

    <a (click)="closeNav()" id="03" routerLink="projets" class="item-navbar selected special-item"><span>03</span>Réalisations</a>
    <div class="separator-item">
        <div class="separator"></div>
    </div>

    <a (click)="closeNav()" id="04" href="#contact" class="item-navbar selected special-item"><span>04</span>Contact</a>
  </div>

</div>

<!------ NAVBAR ---------------------------------------------------->

<nav id="nav" class="container wow fadeInDown" id="accueil">
  <a href="/">
    <h2>MZ.</h2>
  </a>
  <div class="nav-links">
    <a href="#services" class="link">Services</a>
    <a routerLink="projets" class="link">Réalisations</a>
    <a href="#contact" class="link">Contact</a>
  </div>
  <div class="icons-box wow fadeIn">
    <img (click)="toggleDarkTheme()" src="../../assets/icons/theme-dark.svg" alt="theme-dark-icon">
    <img src="../../assets/icons/language.svg" alt="language-icon">
    <!--<img src="../../assets/icons/theme-light.svg" alt="theme-light-icon">-->
  </div>

  <div class="hamburger wow fadeIn" (click)="openNav()">
    <img src="../../assets/icons/menu-1.svg" alt="menu-icon">
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
