<main class="wow fadeIn">

    <!------ HEADER ------------------------------------------------>

    <div class="page-header">
      <h2>{{ 'SERVICES.TITLE' | translate }}</h2>
      <p class="subtitle">{{ 'SERVICES.SUBTITLE' | translate }}</p>
    </div>

    <!------ 3 SERVICES ------------------------------------------------>

    <section class="wow fadeIn">
      <div class="all-box-services">
        <div class="box">
          <h3>{{ 'SERVICES.PART-1.BOX-1-TITLE' | translate }}</h3>
          <p class="subtitle">{{ 'SERVICES.PART-1.BOX-1-SUB' | translate }}</p>
        </div>
        <div class="box">
          <h3>{{ 'SERVICES.PART-1.BOX-2-TITLE' | translate }}</h3>
          <p class="subtitle">{{ 'SERVICES.PART-1.BOX-2-SUB' | translate }}</p>
        </div>
        <div class="box">
          <h3>{{ 'SERVICES.PART-1.BOX-3-TITLE' | translate }}</h3>
          <p class="subtitle">{{ 'SERVICES.PART-1.BOX-3-SUB' | translate }}</p>
        </div>
      </div>
    </section>

    <!------ Description ------------------------------------------------>

    <section class="wow fadeIn">
      <h2><span class="special-span">01</span>{{ 'HOME.PART-2.TITLE' | translate }}</h2>
      <p class="subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quae natus perspiciatis quibusdam, unde magni dolor maxime quaerat omnis fugit magnam placeat consequatur iure ut beatae sunt commodi quis, odio, ipsa atque voluptatum labore libero sequi laudantium? Voluptate a quos quisquam quis numquam, aliquid voluptatibus! Minima enim eaque inventore deserunt?</p>
      <div class="service-button-group">
        <button routerLink="/realisations">Voir les réalisations</button>
        <button routerLink="/contact">Me contacter</button>
      </div>
    </section>

    <section class="wow fadeIn">
      <h2><span class="special-span">02</span>Packs de vente</h2>
      <p class="subtitle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quae natus perspiciatis quibusdam, unde magni dolor maxime quaerat omnis fugit magnam placeat consequatur iure ut beatae sunt commodi quis, odio, ipsa atque voluptatum labore libero sequi laudantium? Voluptate a quos quisquam quis numquam, aliquid voluptatibus! Minima enim eaque inventore deserunt?</p>
    </section>
</main>

