<main class="wow fadeIn">

    <!------ HEADER ------------------------------------------------>

    <div class="page-header">
      <h2>{{ 'SERVICES.TITLE' | translate }}</h2>
      <p class="subtitle">{{ 'SERVICES.SUBTITLE' | translate }}</p>
    </div>

    <!------ 3 SERVICES ------------------------------------------------>

    <section class="wow fadeIn">
      <div class="all-box-skills">
        <div class="box">
          <h3>{{ 'SERVICES.PART-1.BOX-1-TITLE' | translate }}</h3>
          <p class="subtitle">{{ 'SERVICES.PART-1.BOX-1-SUB' | translate }}</p>
        </div>
        <div class="box">
          <h3>{{ 'SERVICES.PART-1.BOX-2-TITLE' | translate }}</h3>
          <p class="subtitle">{{ 'SERVICES.PART-1.BOX-2-SUB' | translate }}</p>
        </div>
      </div>
    </section>

    <!------ A propos ------------------------------------------------>

    <section class="wow fadeIn">
      <h2><span class="special-span">01</span>{{ 'SERVICE.PART-2.TITLE' | translate }}</h2>

      <div *ngIf="lang == 'fr' || lang == 'FR'" class="subtitle">
        Depuis novembre 2021, je réalise en tant qu'indépendant du Web Design et du Développement Front-end pour mes clients. <br><br>
  
        Que ce soit pour la réalisation de votre site web, ou bien une refonte de la charte graphique de votre entreprise, je tacherais tout mettre en oeuvre afin que votre projet corresponde à votre attente.<br><br>
        Si vous souhaitez plus d'informations ou avez une mission à me proposer, n'hésitez pas à me contacter. Je serais ravi de trouver une solution à votre problème !
      </div>
  
      <div *ngIf="lang == 'en' || lang == 'EN'" class="subtitle">
        Since November 2021, I work as a freelance web designer and front-end developer for my clients. <br><br>
  
        Whether it is for the creation of your website, or a redesign of the design system of your business, I will do my best to make sure that your project meets your expectations. <br><br>
        If you want more information or have a mission to propose to me, do not hesitate to contact me. I will be more than happy to find a solution to your problem!
      </div>

      <!--<div class="service-button-group">
        <button routerLink="/realisations">Voir les réalisations</button>
        <button routerLink="/contact">Me contacter</button>
      </div>-->
    </section>
</main>

