<img src="../../assets/images/moi.webp" class="pdp wow fadeIn">
<div class="title-container">
    <h1 class="wow fadeIn title">Maximilien Z.</h1>
    <p class="wow fadeIn subtitle">UI/UX designer & Front-end Developer</p>
</div>

<p class="paragraph wow fadeIn" style="margin:50px 0px 60px 0px;">
    <span style="margin-right:10px;">👋</span>Hello ! Moi c'est Maximilien. Actuellement étudiant au <a class="link-flash" target="_blank" href="https://edu.ge.ch/site/cfpt/">CFPT</a>, j'occupe mon temps libre à réaliser des sites web pour mes clients. Que ce soit du Web design ou du développement front-end. <br><br>

    <span style="margin-right:10px;">🛠</span>En parallèle de mon travail dans le web, je gère depuis plus d'un an mon projet de jeu vidéo <a class="link-flash" target="_blank" href="https://www.just-run.fr/">JustRun</a>, un FPS futuriste se déroulant dans une tour mystérieuse.
</p>

<!---- REALISATIONS ------------------------------------------------>

<h2 class="wow fadeIn"><span class="special-span">01</span> Réalisations</h2>
<owl-carousel-o [options]="customOptions" class="wow fadeIn">
  <ng-template carouselSlide *ngFor="let work of component_home_work">

    <!-- Desktop version -->
    <div class="slide box-realisation rea-box-desktop" (click)="displayFrame(work.img, work.description)">
        <img [src]="work.img" class="img-box">
        <div class="box-hovered" style="padding: 20px;">
          <p class="subtitle" style="padding-top: 0px !important;">{{ work.description }}</p>
        </div>
    </div>

    <!-- Mobile version -->
    <div class="slide box-realisation rea-box-mobile box-mobile">
      <div style="position: relative;">
        <img [src]="work.img" class="img-box">
        <a [href]="work.img" target="_blank" class="link-work-mobile">
          <img src="../../assets/icons/external.svg" style="height: 23px; margin-top: 6px;" class="icon-color">
        </a>
      </div>
      <div class="box-hovered" style="padding: 20px;">
        <p class="subtitle" style="padding-top: 0px !important;">{{ work.description }}</p>
      </div>
    </div>

</ng-template>
</owl-carousel-o>

<div *ngIf="frameShow == true" class="frameShow" style="width: 100%;">
  <div class="frame-background" (click)="hide()">
    <div class="frame-box">
      <img class="frame-cadre" [src]="imageLink" alt="">
      <div style="display: flex; justify-content: space-between; margin-top: 20px;" class="paragraph-img">
        <p class="paragraph" style="color: #272D2D !important;">{{ description }}</p>
        <a [href]="imageLink" target="_blank" class="link-flash">Source ></a>
      </div>
    </div>
  </div>
</div>

<div style="position: relative;" routerLink="projets">
    <a routerLink="projets" class="wow fadeIn link-flash rea-link-desktop" style="position:absolute; top: -100px; z-index:100;">Voir toutes les réalisations ></a>
    <a routerLink="projets" class="wow fadeIn link-flash rea-link-mobile" style="position:absolute; top: -100px; z-index:100;">Tout voir ></a>
</div>


<!---- CONTACT ------------------------------------------------>

<h2 class="wow fadeIn"><span class="special-span">02 </span> Contact</h2>
<p class="paragraph wow fadeIn">Vous pouvez me contacter directement par e-mail, à l'addresse <a href="mailto:contact@maximilien.work" class="link-flash">contact@maximilien.work</a>, ou bien me rejoindre sur mes autres réseaux sociaux :</p>

<div class="all-box-social wow fadeIn">
    <a href="https://www.linkedin.com/in/maximilien-zimmermann-a2a290183/" target="_blank">
        <div class="box-social">
            <div class="left-box">
                <img src="../../assets/images/in.png" style="height: 25px;">
            </div> Linkedin
        </div>
    </a>
    <a href="https://github.com/maximilien0405" target="_blank">
        <div class="box-social">
            <div class="left-box">
                <img src="../../assets/images/gh.png" style="height: 25px;">
            </div>Github
        </div>
    </a>
    <a href="https://www.behance.net/max-zim" target="_blank">
        <div class="box-social">
        <div class="left-box">
            <img src="../../assets/images/be.png" style="height: 25px;">
        </div>
        Behance
        </div>
    </a>
    <a href="https://www.instagram.com/maximilien_work/" target="_blank">
        <div class="box-social">
            <div class="left-box">
                <img src="../../assets/images/insta.png" style="height: 25px;">
            </div>
            Instagram
        </div>
    </a>
</div>
