<main>
    <div class="page-header wow fadeIn">
      <h2>{{ 'BLOG.TITLE' | translate }}</h2>
      <p class="subtitle">{{ 'BLOG.SUBTITLE' | translate }}</p>
    </div>

    <div class="blog-box box">
      <h4>Title of blog</h4>
      <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam minus provident labore, ipsa ducimus quos 
        quaerat cumque alias recusandae, sit nulla ex autem optio quam facere at nemo hic tempore aliquam esse. Quos laudantium 
        quidem placeat, esse quaerat nihil voluptates.</p>
      <p class="paragraph">Maximilien Z - 4 Minutes read</p>
    </div>
</main>